body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
.form-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  width: 80%;
  align-self: center;
}
.container-info{
    display: flex;
    border-radius: 0.5rem;
    background-color: #f8f9fa;
    padding: 10px;
    justify-content: center;
    width: 100%;
    border-color: #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container-detail{
    display: flex;
    align-self: center;
    width: 500px;
    border-color: #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 100px;
    padding: 20px;
}