<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous" />
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>

<body>
    <h1>Thêm Sinh Viên</h1>
    <form th:action="@{/students/save}" method="post" th:object="${student}" class="d-flex flex-column">
         <input type="hidden" th:field="*{id}">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input th:field="*{email}" type="email" class="form-control" id="exampleFormControlInput1"
                placeholder="name@example.com" />
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Student Name</label>
            <input type="text" th:field="*{name}" class="form-control" id="exampleFormControlInput2"
                placeholder="Enter Student Name" />
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput3" class="form-label">Student Age</label>
            <input type="number" th:field="*{age}" class="form-control" id="exampleFormControlInput3"
                placeholder="Enter Student Age" />
        </div>
        <button type="submit" class="btn btn-primary ms-auto">Lưu thông tin</button>
    </form>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>

</html>